* {font-family: Tahoma, Geneva, sans-serif;
}

.fullwrap {
	width: 400px;
	height: 550px;
	background-color: #ffffff;
		
	.main {
		width: 380px;
		height: 530px;
		border: 2px solid #5a5a5a;
		vertical-align: middle;
		text-align: center;
			

			.text1 {
				font-size: 22px;
				text-align: center;
				font-weight: 600;
				}

					

			img {
			vertical-align: middle;
			}
			

				

		.sale {
			
			width: 190px;
			height: 31px;
			background-color: #8bc144;
			color: white;
			box-shadow: 0 3px 3px 0 #9c9c9c;
			span {
				font-size: 22px;
				font-weight: bold;
			}
			}
		.price {

			
			margin-top: 22px;
			font-size: 29px;
			line-height: 0.839;
			text-align: center;
			
			font-weight: bold;
			}
			
				

		.buy {
			
			margin-left: 75px;
			margin-top: 20px;
		
			width: 229px;
			height: 46px;
			background-color: #ff0000;
			box-shadow: 0 4px 0px 0 #850000;
			color: white;
			font-weight: bold;
			text-align: center;
			text-shadow: 0.5px 0.866px 0px black;
			font-size: 28px;
			
			
			span {
				text-align: center;
				display: inline-block; 
    			vertical-align: middle;
	
			}

			}
		}
}
		



